<section>
    <div class="container size-container">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Recuperar Senha</h4>
               <div class="form-group">
                <label for="pwd">Senha:</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="form-group">
                  <label for="pwd">Confirmar Senha:</label>
                  <input type="password" class="form-control" id="pwd">
                </div>
              <button type="button" class="btn btn-primary">Cadastrar Nova Senha</button><br><br>
            <a href="#" routerLink="/" class="card-link">Voltar</a>
          </div>
      </div>
    </div>
  </section>
