<section>
    <nav class="navbar bg-white navbar-menu justify-content-center">

        <ul>
            <li>
              <a href="#" routerLink="/temas">
                <i style="font-size:24px" class="fa">&#xf00a;</i>
                <span> Temas de Gestão</span>
              </a>
            </li>
            <li>
              <a href="#" routerLink="/segmentos">
                <div class="row">
                  <i class="material-icons">&#xe87b;</i>
                  <span>Segmentos</span>
                </div>
                </a>
            </li>
            <li><a href="https://www.google.com.br/maps/@-25.4152002,-49.2689362,15z?hl=pt-BR&authuser=0" target="_blank">
              <div class="row">
              <i class="material-icons">&#xe568;</i>
              <span>Nos Estados</span>
            </div>
            </a>
          </li>
            <li>
              <a href="#" routerLink="/contatos">
                <div class="row">
                  <i class="material-icons">&#xe0ca;</i>
                  <span>Fale com</span>
                </div>
              </a>
            </li>
            <li><a href="#" routerLink="/transparencia">
              <div class="row">
                  <i class="material-icons">&#xe000;</i>
                  <span>Transparência</span>
                </div>
              </a>
            </li>
            <li class="nav-img">
              <a href="#" routerLink="/login">
                  <span style="margin-right: -17;">Faça Login ou Cadastre-se</span>
            </a>
            </li>
          </ul>
      </nav>
</section>
