<section class="size-page">
    <div id="demo" class="slide" data-ride="carousel">
    <ul class="carousel-indicators indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/Images/banner01.png" alt="Planilhas" width="1100" height="500">
          <div class="carousel-caption">

              <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-secundary-1">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i style="font-size:14px" class="fa search">&#xf002;</i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link search-text" href="#">|</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link search-text">
                        <input type="text" class="input" size="100" placeholder="Digite Aqui o que Você Procura">
                      </a>
                    </li>
                    <li style="float:right"><a class="active button-buscar" href="#buscar">BUSCAR</a></li>
                  </ul>
                </nav>

                <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-secundary-2">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                         <a class="nav-link search-text-2" href="#">
                            Recomendações de Busca: Nova Lei Trabalhista,
                      </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link search-text-2" href="#">MEI,</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link search-text-2" href="#">Cursos on-line,</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link search-text-2" href="#">Simples 2018,</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link search-text-3" href="#">Busca Avançada</a>
                          </li>
                    </ul>
                  </nav>

            <h5>Planilhas que facilitam</h5><h5>A Gestão Empresarial</h5>
            <p class="text-link"><a href="#" routerLink="/planilhas">Clique aqui para saber mais.</a></p>

            <div class="dropdown dropdown-align">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Acesso Rápido
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Link 1</a>
                  <a class="dropdown-item" href="#">Link 2</a>
                  <a class="dropdown-item" href="#">Link 3</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another link</a>
                </div>
            </div>

          </div>
        </div>

        <div class="carousel-item">
            <img src="assets/Images/banner01.png" alt="Planilhas" width="1100" height="500">
            <div class="carousel-caption">
                <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-secundary-1">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">
                          <i style="font-size:14px" class="fa search">&#xf002;</i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link search-text" href="#">|</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link search-text">
                          <input type="text" class="input" size="100" placeholder="Digite Aqui o que Você Procura">
                        </a>
                      </li>
                      <li style="float:right"><a class="active button-buscar" href="#buscar">BUSCAR</a></li>
                    </ul>
                  </nav>

                  <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-secundary-2">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link search-text-2" href="#">
                              Recomendações de Busca: Nova Lei Trabalhista,
                        </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link search-text-2" href="#">MEI,</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link search-text-2" href="#">Cursos on-line,</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link search-text-2" href="#">Simples 2018,</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link search-text-3" href="#">Busca Avançada</a>
                            </li>
                      </ul>
                    </nav>

              <h5>Planilhas que facilitam</h5><h5>A Gestão Empresarial</h5>
              <p class="text-link"><a href="#" routerLink="/planilhas">Clique aqui para saber mais.</a></p>

              <div class="dropdown dropdown-align">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Acesso Rápido
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another link</a>
                  </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
              <img src="assets/Images/banner01.png" alt="Planilhas" width="1100" height="500">
              <div class="carousel-caption">
                  <nav class="navbar navbar-expand-sm bg-primary navbar-dark navbar-secundary-1">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <i style="font-size:14px" class="fa search">&#xf002;</i>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link search-text" href="#">|</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link search-text">
                              <input type="text" class="input" size="100" placeholder="Digite Aqui o que Você Procura">
                          </a>
                        </li>
                        <li style="float:right"><a class="active button-buscar" href="#buscar">BUSCAR</a></li>
                      </ul>
                    </nav>

                    <nav class="navbar navbar-expand-sm bg-light navbar-light navbar-secundary-2">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link search-text-2" href="#">
                                Recomendações de Busca: Nova Lei Trabalhista,
                          </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link search-text-2" href="#">MEI,</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link search-text-2" href="#">Cursos on-line,</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link search-text-2" href="#">Simples 2018,</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link search-text-3" href="#">Busca Avançada</a>
                              </li>
                        </ul>
                      </nav>

                <h5>Planilhas que facilitam</h5><h5>A Gestão Empresarial</h5>
                <p class="text-link"><a href="#" routerLink="/planilhas">Clique aqui para saber mais.</a></p>

                <div class="dropdown dropdown-align">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                      Acesso Rápido
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Link 1</a>
                      <a class="dropdown-item" href="#">Link 2</a>
                      <a class="dropdown-item" href="#">Link 3</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Another link</a>
                    </div>
                </div>
              </div>
            </div>

      </div>
    </div>

</section>
